<h1>Earth Countries</h1>



<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
     
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
 <!-- <li *ngFor="let data of bookdata.books"><a (click)="selectbook(data)" routerLink="/book">{{data.subject}}</a>
 </li> -->


 <li><a routerLink="/home" >Home</a></li>
 <li><a routerLink="/countries" >Countries</a></li>

       <!--  <li><a routerLink="/branch">BRANCHES</a></li>
        <li><a routerLink="/meats">MEATS</a></li> -->
      </ul>
    </div>
  </div>
</nav>