



img {
height: 50px;
width:80x;

}



/* Style the search box inside the navigation bar */
 input[type=text] {
    float: left;
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 15px;
    margin-left: 50px;
    font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */

